.App {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");

p {
  font-family: "Roboto";
  font-size: 150%;
}
.imagen{
  background-color: #3b5998;
}

.title{
  background-color: #474747;
  color: white;
  font-family: "Mystery Quest";
  font-size: 150%;
}

.arr {
  margin-top: -20px;
}

.arr2 {
  margin-top: 20px;
}

.begin-logo {
  animation: begin-logo-spin infinite 20s linear;
  height: 35vmin;
  pointer-events: none;
  display: flex;
  align-items:center;
  background-color: #3b5998;
  align-items:center;
  justify-content: center;

}

.button {
  margin-right: 3px;
}

.card-body {
  background-color: #3b5998;
  color: white;
}

.App-header {
  background-color: #3b5998;
  min-height: 100vh;
  display: flex;
  top: 0;
  flex-direction: row;
  align-items:center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;

}
.App-header8 {
  background-color: #3b5998;
  min-height: 50vh;
  display: flex;
  top: 0;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 350px;
  margin-top: -240px;

}

.App-header7 {
  background-color: #3b5998;
  display: flex;
  top: 0;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 900px;
  margin-top: -15px;

}

.App-header2 {


  display: flex;
  margin-top: -10px;
  flex-direction: column;
  align-items:center;

  font-size: calc(10px + 2vmin);
  color: white;

}

.App-header3 {
  background-color: #3b5998;

  display: flex;

  flex-direction: column;
  margin: 20px;
  font-size: calc(10px + 2vmin);
  color: white;


}

.App-header4 {
  background-color: #3b5998;
  min-height: 100vh;
  display: flex;
  top: 0;
  flex-direction: column;
  align-items:center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: center;
  }

.App-link {
  color: #09d3ac;
}

h1 {
 font-family: "Montserrat";
  font-size: 150%;
  text-transform: uppercase;
}

h2 , .button {
  font-family: "Montserrat";
  font-size: 50%;
  text-transform: uppercase;
  align-items:center;
}

h3  {
 font-family: "Montserrat";
  font-size: 150%;

}

h4  {
 font-family: "Montserrat";
  font-size: 30%;
}


h5  {
 font-family: "Montserrat";
  font-size: 100%;
  color: #fff;
}


.link1  {
 font-family: "Montserrat";
  font-size: 80%;
  color: #ffffff;
}



.box{

  font-size: 100%;
  margin:10px;
  text-transform: uppercase;
  align-items:center;
  border:0px;
  width:200px;
  height:23px;
  padding-left: 10px;
}


.button2 {
  font-family: "Montserrat";
  font-size: 50%;
  text-transform: uppercase;
  align-items:center;
  border:0px;
  width:300px;
  height:35px;
}

.button3 {
  font-family: "Montserrat";
  font-size: 50%;
  text-transform: uppercase;
  align-items:center;
  border:0px;
  width:300px;
  height:35px;
  justify-content: center;
}
